
/**media querry */

@media (max-width: 415px){
    
    *::selection{
        background-color: rgba(250, 192, 49,0.7);
        color: #fff;
    }
    html{
        font-size: 25px;
    }

    body{
        width: 400vw;
    }
    
 
/* navbar */

    section 
    nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        right: 0;
        left: 0;
        background: white;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        z-index: 1000;
        border: 0px solid red;
    }
    
    
    section 
    nav 
    .logo 
    img{
        margin-left: -2rems;
        width: 10rem;
        cursor: pointer;
        margin: 1.5rem 0;
        
    }
    
    section 
    nav 
    ul{
        display: none;
    }
    
    section  
    nav 
    .icon 
    {
        display: none;
       
    }
    
    
    
    #hamburger-nav {
        position: relative;
        display: inline-block;
      }
    
      #hamburger-nav
      i{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            cursor: pointer;
            font-size: 3.5rem;
            margin-left: 20rem;
      }



/* introo */



section 
.main{
    border: 2px solid red;
    margin-top: 50;
    left: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 7rem;
    height: 70vh;
    width: 100%;
}

section 
.main 
.men_text 
h1{
    font-size: 2.5rem;
    position: relative;
    top: -90px;
    left: 1rem;
}

section 
.main 
.men_text 
h1 
span{
    margin-left: 15px;
    color: #fac031;
    font-family: mv boli;
    line-height: 1rem;
    font-size: 3.5rem;
}

section 
.main 
.main_image 
img{
    width: 30rem;
    position: relative;
    left: 0rem;
}

section 
p{
    font-size: 0.8rem;
    width: 30rem;
    text-align: start;
    position: relative;
    left: 5.5rem;
    bottom: 5rem;
    line-height: 1.2rem;
}


section 
.main_btn{
    background: #fac031;
    position: relative;
    left: 5.5rem;
    bottom: 3.5rem;
    width: 8rem;
    cursor: pointer;
    padding: 12px 25px;
}


section 
.main_btn 
a{
    color: #fff;
    margin-right: 5px;
    text-decoration: none;
    font-size: medium;
}

section 
.main_btn 
i{
    color: #fff;
    transition: 0.3s;
}





/**** menue */




/*Menu*/

.menu{
   /* border: 2px solid red; */
    margin:0 auto;
    height: 2500vh;
    padding: 70px 0;
}

.menu 
h1{
    font-size: 3.5rem;
    margin-bottom: 5rem;
}

.menu
h1 
span::after{
    height: 5px;
    bottom: 12px;
}





.menu 
.menu_box{
    /* border: 2px solid red; */
    width: 100%;
    grid-template-columns: 1fr;
    margin: 0 auto;
}

.menu 
.menu_box 
.menu_card{
    /* border: 2px solid red; */
    place-self: center;
    border-radius: 15px;
    width: 45rem;
    height: 60rem;
    margin-bottom: 40px;
}

.menu 
.menu_box 
.menu_card 
.menu_image{
    border-radius: 15px 15px 0 0;
    width: 45rem;
    height: 32rem;
}


.menu 
.menu_box 
.menu_card 
.small_card{
    top: -28rem;
    right: -0rem;
    transition: 0.4s;
}

.menu 
.menu_box 
.menu_card:hover 
.small_card{
    position: relative;
    top: -28rem;
    right: 4rem;
    opacity: 1;
}

.menu 
.menu_box 
.menu_card 
.small_card 
i{
    font-size: 2.8rem;
}

.menu 
.menu_box 
.menu_card 
.menu_info 
h2{
    margin: 40px auto;
    font-size:3rem;
}

.menu 
.menu_box 
.menu_card
.menu_info 
p{  
    width: 80%;
    margin: 0 auto;
    line-height: 45px;
    font-size: 1.7rem;
}

.menu 
.menu_box 
.menu_card
.menu_info 
h3{
    margin-top: 1.5rem;
    font-size: 2.5rem;
}

.menu 
.menu_box 
.menu_card
.menu_info 
.menu_icon{
    color: #fac031;
    text-align: center;
    margin-top: 30px;
    font-size: 1.8rem ;
    /* border: 2px solid red; */

}

.menu 
.menu_box 
.menu_card
.menu_info 
.menu_btn{
    padding: 25px 20px;
    margin: 2rem 4rem;
    font-size: 1.5rem;
}


/* gallery */


.gallary{
    width: 100%;
    height: 800vh;
    padding: 70px 0;
}

.gallary 
h1{
    font-size: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -10rem;

}


.gallary 
h1 
span::after{
    height: 5px;
    bottom: 12px;
}

.gallary 
.gallary_image_box{

    width: 85%;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

.gallary 
.gallary_image_box 
.gallary_image{
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}

.gallary
.gallary_image_box 
.gallary_image 
img{
    border-radius: 25px;
    width: 100%;
    transition: .3s;
}


.gallary 
.gallary_image_box 
.gallary_image 
h3{
    font-size: 6rem;
    margin-bottom: 15rem;
}

.gallary 
.gallary_image_box 
.gallary_image:hover 
h3{
    letter-spacing: 3px;

}

.gallary 
.gallary_image_box 
.gallary_image 
p{
    /*! width: 100%; percentage is not working here */
    width: 250vw;
    font-size: 2rem;
    line-height: 55px;
    letter-spacing: 3px;
}


.gallary 
.gallary_image_box 
.gallary_image 
.gallary_btn{
    /*! width: 100%; percentage is not working here */
    margin-top: 18rem;
    font-size: 2.2rem;
    font-weight: 600;
    padding: 1.3rem 5rem;
    text-wrap: nowrap;
}




/*Footer*/

footer{
    width: 100%;
    height: 135vh;
    padding: 30px 20px 0;
}

footer 
.footer_main{
    margin-top: 3rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;

}




footer 
.footer_main 
.footer_tag 
h2{
    font-size: 2rem;
}

footer 
.footer_main 
.footer_tag 
p{
    margin: 30px 0;
    font-size: 1.3rem;
}

footer 
.footer_main 
.footer_tag 
i{
    font-size: 1.2rem;
}

footer 
.end{
    margin-top: 4.1rem;
    font-size: 01.1rem;
}

footer 
.end 
span{
    font-size: 1rem;
}

a{
    text-decoration: none;
}





/*Team*/

.team{
    height: 260vh;

    > h1{
    font-size: 4.5rem;
    margin-bottom: 30px;
    }
}


.team 
h1
span{
    color: #fac031;
    margin-left: 15px;
    font-family: mv boli;
}

.team 
h1 
span::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #fac031;
    display: block;
    position: relative;
    bottom: 15px;
}


.team 
.team_box{
    width: 90%;
    height: 215vh;
    flex-wrap: wrap;
    align-items: justify;
    justify-content:space-around;
    top: 5%;
    /* border: 2px solid red; */
}

.team 
.team_box 
.profile{
    width: 600px;
    height:600px;
    margin: 0 15px;
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
    transition: 0.4s;
    /* border: 2px soolid red; */

}

.team 
.team_box 
.profile:hover{
    /* border: 2px soolid red; */
    height: 30rem;
}

.team 
.team_box 
.profile 
img{
    width: 530px;
    height: 530px;
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
}

.team 
.team_box 
.profile:hover 
img{
    border-radius: 15px;
    margin-top: -500px;
}



.team 
.team_box 
.profile:hover 
.info{
    top: 55%;
}

.team 
.team_box 
.profile 
.info 
.name{
    color: #fac031;
    margin-bottom: 15px;
    font-size: 3rem;
}

.team 
.team_box 
.profile 
.info 
.bio{
    width: 85%;
    line-height: 1.5rem;
    font-size: 1.7rem;

}

.team 
.team_box 
.profile 
.info 
.team_icon 
i{
    margin: 20px 5px 5px 0;
    font-size: 2rem;
}




/*Review*/

.review{
    width: 100%;
    height: 300vh;
    padding: 70px 0;
    border: 2px solid red;
}

.review 
h1{
    font-size: 4.5rem;
    margin-top: -4rem;
}

.review 
h1 
span{
    margin-left: 15px;
    color: #fac031;
    font-family: mv boli;
}

.review 
h1 
span::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #fac031;
    position: relative;
    bottom: 15px;
    display: block;
}

.review 
.review_box{
    border: 2px solid red;
    width: 90%;
    height: 310vh;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 70px auto;
}

.review 
.review_box 
.review_card{

    width: 155vw;
    height: 120vh;
    box-shadow: 0 2px 8px rgba(0,0,0,0.4);
    border-radius: 15px;
    padding: 10px 20px;
}

.review 
.review_box 
.review_card:hover{
    height: 120vh;
    transition: 0.3s;


}

.review 
.review_box 
.review_card 
.review_profile{
    
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 0.3s;
}

.review 
.review_box 
.review_card:hover 
.review_profile{
    transform: translateY(-70px);
}

.review 
.review_box 
.review_card 
.review_profile 
img{
    width:  13rem;
    height: 13rem;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: 5px solid #cccccc;
}


.review 
.review_box 
.review_card 
.review_text{
    text-align: center;
}

.review 
.review_box 
.review_card 
.review_text 
.name{
    margin-top: 5px;
    color: #000;
    transition: 0.3s;
}

.review 
.review_box 
.review_card:hover 
.review_text 
.name{
    transform: translateY(-65px);
}

.review 
.review_box 
.review_card
.review_text 
.review_icon{
    color: #fac031;
    transition: 0.3s;
    margin-top: 5px;

}

.review 
.review_box 
.review_card:hover 
.review_text 
.review_icon{
    transform: translateY(-55px);
}

.review 
.review_box 
.review_card 
.review_text 
.review_social 
i{
    margin: 5px 1px;
    font-size: 1rem;
    opacity: 0;
    cursor: pointer;
    transition: 0.3s;
}

.review 
.review_box 
.review_card:hover 
.review_text 
.review_social i{
    opacity: 1;
    transform: translateY(-40px);
}

.review 
.review_box 
.review_card 
.review_text 
p{
    text-align: center;
    line-height: 2rem;
    transition: 0.3s;
    font-size: 1.5rem;
    margin-top: -1rem;


}

.review .review_box 
.review_card:hover 
.review_text 
p{
    margin-top: 5px;
}





      }
    
    